
<div class="row">
<div class="col-lg-6  offset-lg-3 bg-light text-center">
    <h1>Cambiar Contraseña</h1>
    <form [formGroup]="changePassword" (ngSubmit)="savePassword()">
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Contraseña Anterior" formControlName="passwordAfter">
            <span class="text-danger "
            *ngIf="changePassword.controls['passwordAfter'].hasError('required') && changePassword.controls['passwordAfter'].touched">El Campo es Requerido</span>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" formControlName="passwordNew" placeholder="Nueva Contraseña">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Nueva Contraseña">
            <span class="text-danger "
            *ngIf="changePassword.hasError('notSame')">Contraseñas no Coinciden</span>
        </div>
        <div class="mb-3 text-center">
           <button type="submit" class="btn btn-primary btn-lx me-3 " [disabled]="changePassword.invalid" >Guardar</button>
           <button class="btn btn-primary btn-lx">Volver</button>
        </div>
    </form>

</div>
</div>